* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

img{
    z-index: 1;
    height: auto;
    max-width: 100%;
}

.navbar{
    background: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    font-family: fantasy;
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #ff8277;
    background-image: linear-gradient(to top, #CFA97C 0%, #CFA97C);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    -moz-box-shadow: 2px 15px 20px -4px rgba(0,0,0,0.66);
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    diplay: flex ;
}

.bigbanner{
    z-index: 1;
    position: relative;
    width: 100px;
    height: 500px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
.bigpopup{
    z-index: 1;
    position: relative;
    width: 100%;
}

.frontbox{
    z-index: 10;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    height: 20px;
    width: 400px;
    background-color: blueviolet;
}

.box-containers{
    height: 500px;
}

.headerbox{
    background-color: #CFA97C;
    height: 150px;
    width: 400px;
    border: 5px;
    float: left;
    margin: 25px;
    -webkit-box-shadow: -16px -16px 56px -19px rgba(255,255,255,0.64);
    -moz-box-shadow: -16px -16px 56px -19px rgba(255,255,255,0.64);
    border-radius: 50px;
    font-family: fantasy;

}

.box-style-header{
    width: 125px;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    margin: auto;
    width: 50%;
    color: #fff;
}

.moreinfo{
    font-family: serif;
    text-align: center;
}

.smallicon{
    width: 80px;
    align-items: center;
    margin-left: 150px;
    cursor: pointer;
}