body{
    margin: 0;
    background: #222;
    font-weight: 300;
}


.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background:cornsilk;
}

header::after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    width: 150px;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 50px;
    text-align: center;
    margin: 25
}

nav a{
    color: #222;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

nav a:hover{
    color: blue;
}

