* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #ff8277;
    background-image: linear-gradient(to top, #CFA97C 0%, #CFA97C);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    diplay: flex ;

}

h1,h2,h3,h4{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    cursor: pointer;
    font-style: bold;
}

.pageHeader{
    
}

.HospiceParag{
    font-size: 14px;
    display: -webkit-box;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 400px;
}

.header1{
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 25px;
}


img{
    height: auto;
    max-width: 100%;
}

.allHeaders{
    height: 250px;
    width: auto;
    background-color: #CFA97C;
    border: #131313;
}